.form-container {
    background-color: #6A5ACD;
    align-content: center;
    justify-content: center;
    align-self: center;
    margin: 1.2rem auto;
    padding: 0.8rem 0.8rem;
    color: white;
}

.heading {
    align-content: center;
    justify-content: center;
    align-self: center;
    margin: auto;
    color: #6a5acd;
    font-size: 2rem;
    width: 40%;
}

.container {
    width: 80%;
    align-items: center;
    align-content: center;
}

.btn-container {
    align-items: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    margin: auto;
    justify-self: center;
}